{% load i18n %}
<!-- ko if: $data.search -->
<!-- <div class="col-md-4 col-lg-3">
    <select 
        class="resources" 
        tabindex="0"
        style="display: none;" 
        data-bind="
            value: op, 
            chosen: {width: '100%', disable_search_threshold: 15},
            attr: {'aria-label': '{% trans 'Search Criteria' %}', role: 'option'},
            optionsText: 'text',
            optionsValue: 'value',
            options: [
                { text: '=', value: 'eq', label: 'Equal' },
                { text: '&gt;', value: 'gt', label: 'Greater-than' },
                { text: '&lt;', value: 'lt', label: 'Less-than' },
                { text: '&ge;', value: 'gte', label: 'Greater-than or equal to' },
                { text: '&le;', value: 'lte', label: 'Less-than or equal to' },
                { text: $root.translations.hasNoValue, value: 'null', label: 'Has no value' },
                { text: $root.translations.hasAnyValue, value: 'not_null', label: 'Has any value' },
            ],
        "
    ></select>
</div> -->
<!-- <div class="col-md-4 col-lg-3">
    <select class="resources" tabindex="-1" >
        <option value="eq" aria-label="Equal"> = </option>
        <option value="gt" aria-label="Greater-than"> Greater than </option>
        <option value="lt" aria-label="Less-than"> Less Than </option>
        <option value="gte" aria-label="Greater-than or equal to"> Greater-than or equal to </option>
        <option value="lte" aria-label="Less-than or equal to"> Less-than or equal to </option>
        <option value="null" aria-label="Has no value">{% trans "Has no value" %}</option>
        <option value="not_null" aria-label="Has">{% trans "Has any value" %}</option>
    </select>
</div> -->
<div class="col-md-4 col-lg-3">
    <select class="resources" tabindex="-1" style="display: none;" data-bind="value: op, chosen: {width: '100%', disable_search_threshold: 15}, attr:{'aria-label': 'Search criteria'}">
        <option value="eq"> = </option>
        <option value="gt"> > </option>
        <option value="lt"> < </option>
        <option value="gte"> >= </option>
        <option value="lte"> <= </option>
        <option value="null">{% trans "Has no value" %}</option>
        <option value="not_null">{% trans "Has any value" %}</option>
    </select>
</div>

<div class="col-md-8 col-lg-9" data-bind="visible: op() !== 'null' && op() !== 'not_null'">
    <input type="number" placeholder="{% trans "Value" %}" class="form-control input-lg" style="height: 36px;" aria-label="'{% trans 'Value' %}'" data-bind="value: searchValue, valueUpdate: 'keyup'">
</div>
<!-- /ko -->
